
/*Formulario*/
.navbar{
    padding: 40px;
}


/* calculadora*/

.calcular{
    height: 400px;
    width: 300px;
    background-color: black;
    border-radius: 20px;
    align-items: center;
}


.button {
    width: 20%;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding: 18px ;
    margin: 2px;
    border: 0;
    border-radius: 100%
}

.reset {
    width: 20%;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: black;
    padding: 18px ;
    margin: 2px;
    border: 0;
    border-radius: 100%;
    background-color: orangered;
    
}

.textfield {
    width: 100%;
    padding: 15px;
    background-color: white;
}

